.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px;
  font-family: Arial, sans-serif;
  margin-bottom: 20px;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}

.navbar-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 30px;
}

.nav-item {
  margin-left: 15px;
  position: relative; /* Added position: relative for dropdown positioning */
}

.nav-link {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ffcc00;
}

.button {
  padding: 8px 16px;
  border-radius: 4px;
  background-image: linear-gradient(to bottom, #444444, #222222);
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-image 0.3s ease;
}

.button:hover {
  background-image: linear-gradient(to bottom, #222222, #000000);
}

.notification-dot {
  position: relative;
}

.notification-dot::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background-color: yellow;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.dropdown-menu {
  position: absolute;
  top: 100%; /* Position the dropdown below the parent item */
  left: 0;
  z-index: 1000;
  display: none; /* Hide the dropdown by default */
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item:hover {
  color: #fff;
  background-color: #007bff;
}

.show {
  display: block; /* Show the dropdown when active */
}
