body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #fff;
  background: linear-gradient(to bottom, #2980b9, #87cefa);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  font-family: 'ExoticFont', Arial, sans-serif;
  font-size: 32px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: 20px;
  margin: 10px 0;
}

p {
  font-size: 14px;
  margin: 0;
}

.button {
  display: inline-block;
  padding: 6px 12px;
  background-color: #4caf50;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin-right: 10px; /* Add margin-right to create spacing between buttons */
}

.button.reject {
  background-color: #000; /* Set background color of the Reject button to black */
}

.button.reject:hover{
  background-color: #252825;
}

.button:hover {
  background-color: #45a049;
}

.card-content {
  color: #666; /* Light gray color */
  /* Add any additional styles you want for the card content */
}
