html
  head
    title Meeting Schedule
    style
      include ../assets/css/jobProceed.css
  body
    h1 Meeting Schedule
    p Send a Google Calendar meeting invitation link to the following email:
    p.email-instruction= clientEmail
    form(action="/mentor/jobsubmit", method="post")
      .form-group
        input(type="hidden" name="clientEmail" value=clientEmail)

        label(for="link-input") Submit Link:
        input#link-input.form-control(type="text", name="link", placeholder="Enter link URL")
      button.btn.btn-primary(type="submit") Submit
