nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container-fluid.d-flex.justify-content-center
    a.navbar-brand(href='#') MentorU
    button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarSupportedContent
      ul.navbar-nav.mr-auto.mb-2.mb-lg-0
        li.nav-item
          a.nav-link.active(href=`${router}/home`, aria-current='page') Home
        li.nav-item
          a.nav-link(href=`${router}/contact`) Contact Us
        li.nav-item.dropdown
          a.dropdown-item(href=`${router}/logout`) Logout
        li.nav-item
          a.nav-link(href=`${router}/notifications`)
            i.bi.bi-bell
            if hasNotification
              span.notification-dot
  script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js')
