doctype html
html
  head
    title My Resume
    style 
      include ../assets/css/professionalDetails.css
  body
    h1 Edit Resume
    form(action=router, method="POST")

      input(type="hidden" name="email" value=mentor.email)

      //- fullname added by parthiv
      label(for="fullname") fullname:
      textarea#fullname(name="fullname", type="text")

      label(for="description") Description:
      textarea#description(name="description", rows="4", cols="50")

      label(for="skills") Skills:
      input#skills(name="skills", type="text")

      label(for="languages") Languages:
      input#languages(name="languages", type="text")

      //- cost added by parthiv

      label(for="cost") Cost:
      input#cost(name="cost", type="number")

      input(type="submit", value="Save")